.TheMission { background-color: #ffb300; }
.RussianHill { background-color: #803e75; }
.Tenderloin { background-color: #ff6800; }
.FishermansWharf { background-color: #a6bdd7; }
.NoeValley { background-color: #c10020; }
.Dogpatch { background-color: #cea262; }
.TheCastro { background-color: #817066; }
.Chinatown { background-color: #007d34; }
.InnerSunset { background-color: #f6768e; }
.TheRichmond { background-color: #00538a; }
.PacificHeights { background-color: #ff7a5c; }
.SOMA { background-color: #53377a; }
.FinancialDistrict { background-color: #ff8e00; }
.TheSunset { background-color: #b32851; }
.SeaCliff { background-color: #f4c800; }
.Ingleside { background-color: #7f180d; }
.MarketStreet { background-color: #93aa00; }
.OuterSunset { background-color: #39a3ff; }
.TheMarina { background-color: #f13a13; }
.BayviewHuntersPoint { background-color: #232c16; }
.WestPortal { background-color: #cc0000; }
.TwinPeaks { background-color: #cccc00; }
.LakeMerced { background-color: #00cc00; }
.VisitationValley { background-color: #0099ff; }
.MissionBay { background-color: #cc00cc; }
.Presidio { background-color: #00ff99; }
